<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<div th:fragment="links">
		<ul style="list-style-type:none; alignment:left;">
			<li style="float:left;">
				<form action="/" method="POST">
					<button type="submit" data-dojo-type="dijit/form/Button">Home</button>
				</form>
			</li>
			<li style="float:left;">
				<form action="/gerrymander" method="POST">
					<button type="submit" data-dojo-type="dijit/form/Button">Gerrymandering</button>
				</form>
			</li>
			<!--  data-dojo-type="dijit/form/Button">Redistricting</button>-->
			<li style="float:left;">
				<form action="/logout" method="POST" >
					<button type="submit" data-dojo-type="dijit/form/Button">Logout</button>
				</form>
			</li>
			</ul>
		</div>
	
	</body>

</html>